<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <a class="navbar-brand">
                Profile
            </a>
        </div>
        <p class="navbar-text pull-right">
            <a href ng-click="model.updateProfile(model.user)"><span class="glyphicon glyphicon-ok"></span></a>
        </p>
    </div>
</nav>


<div class="container">
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
    </div>
</nav>