<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="#/shopper/{{model.userId}}"><span
                    class="glyphicon glyphicon-chevron-left navbar-custom"></span>
            </a>
        </p>
        <div class="navbar-header pull-left">
            <a class="navbar-brand">
                Welcome to ShopAwesome
            </a>
        </div>

        <p class="navbar-text pull-right glyph-padding">
            <a href="#/shopper/{{model.userId}}"><span class="glyphicon glyphicon-user navbar-custom"></span>
            </a>
        </p>
        <p class="navbar-text pull-right glyph-padding">
            <a href="#/shopper/{{model.userId}}/search"><span class="glyphicon glyphicon-search navbar-custom"></span>
            </a>
        </p>
    </div>
</nav>
<div class="container">
    <h3>Welcome to Admin View</h3>
    <a href="#/admin/{{model.userId}}/shopperlist">ShopperList</a>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
    </div>
</nav>