<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text pull-left space-right">
            <a href="#/user/{{model.userId}}"><span class="glyphicon glyphicon-chevron-left"></span></a>
        </p>
        <div class="navbar-header pull-left">
            <a class="navbar-brand">
                Websites
            </a>
        </div>
        <p class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}/website/new"><span class="glyphicon glyphicon-plus"></span></a>
        </p>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group" ng-repeat="website in model.websites">
        <li class="list-group-item borderless"><a href="#/user/{{model.userId}}/website/{{website._id}}/page">{{website.name}}</a><a
                href="#/user/{{model.userId}}/website/{{website._id}}"> <i class="glyphicon glyphicon-cog pull-right"></i></a></li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}"><span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>
