<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-3 hidden-xs hidden-sm">
                <p class="navbar-text navbar-left pull-left">
                    <a href="#/website"><span class="glyphicon glyphicon-chevron-left"></span></a>
                </p>
                <div class="navbar-header pull-left">
                    <a class="navbar-brand" href="#">
                        Websites
                    </a>
                </div>
                <p class="navbar-text pull-right">
                    <a href="#/website/new"><span class="glyphicon glyphicon-plus"></span></a>
                </p>
            </div>
            <div class="col-md-9">
                <p class="navbar-text pull-left hidden-md hidden-lg space-right">
                    <a href="#/website"><span class="glyphicon glyphicon-chevron-left"></span></a>
                </p>
                <div class="navbar-header pull-left">
                    <a class="navbar-brand" href="#">
                        New Website
                    </a>
                </div>
                <p class="navbar-text pull-right">
                    <a href="#/website"><span class="glyphicon glyphicon-ok"></span></a>
                </p>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-3 hidden-xs hidden-sm">
            <ul class="list-group">
                <li class="list-group-item borderless">
                    <a href="../page/page-list.view.client.html">Bobby Flay's</a>
                    <a href="website-edit.view.client.html">
                        <i class="glyphicon glyphicon-cog pull-right"></i>
                    </a>
                </li>
                <li class="list-group-item borderless">
                    <a href="../page/page-list.view.client.html">Food for Thought</a>
                    <a href="website-edit.view.client.html">
                        <i class="glyphicon glyphicon-cog pull-right"></i>
                    </a>
                </li>
                <li class="list-group-item borderless">
                    <a href="../page/page-list.view.client.html">Camping Basics</a>
                    <a href="website-edit.view.client.html">
                        <i class="glyphicon glyphicon-cog pull-right"></i>
                    </a>
                </li>
                <li class="list-group-item borderless">
                    <a href="../page/page-list.view.client.html">CheapOCheap</a>
                    <a href="website-edit.view.client.html">
                        <i class="glyphicon glyphicon-cog pull-right"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!--Not added line and differentiate between landscape and potrait view-->
        <div class="col-md-9">
            <form>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" rows="3" placeholder="Description"></textarea>
                </div>
            </form>
        </div>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#/profile"><span class="glyphicon glyphicon-user navbar-custom"></span>
            </a>
        </p>
    </div>
</nav>
