<div class="container">
    <div class="input-group">
        <input ng-model="model.searchText" type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
                    <button ng-click="model.searchItem(model.searchText)" type="button"
                            class="btn btn-primary"
                    >Go!</button>
      </span>
    </div><!-- /input-group -->
    <!--{{model.searchItemList}}-->
    <ul class="list-group" ng-repeat="item in model.searchItemList">
        <div class="row">
            <div class="col-md-4 borderless"><a href="#">{{item.name}}</a></div>
            <div class="col-md-2 borderless"><a href="#">{{item.salePrice}}</a></div>
            <div class="col-md-2 borderless">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <div ng-repeat="thumbnail in item.imageEntities">
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img ng-src="{{thumbnail.thumbnailImage}}">
                            </div>
                        </div>
                    </div>
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </ul>
</div>

