html {
    /*background: url(../../img/project_bk.jpg) no-repeat center center fixed;*/
    background-color: #f6f6f6;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: transparent;
    margin-left: 5%;
    margin-right: 5%;
    /*margin-bottom: 5%;*/
    padding-top: 75px;
    padding-bottom: 100px;
}

.navbar {
    background-color: forestgreen;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default .glyphicon {
    color: white;
}

.myimg {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    width: 200px;
    height: 200px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.top-buffer {
    margin-top: 20px;
}

/* From Quora*/
/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
    h1 {
        font-size: 4.0vh;
    }

    h2 {
        font-size: 3.5vh;
    }

    h3 {
        font-size: 3.0vh;
    }

    h4 {
        font-size: 2.0vh;
    }

    h5 {
        font-size: 1.5vh;
    }

    h6 {
        font-size: 1.0vh;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 4.0vh;
    }

    h2 {
        font-size: 3.5vh;
    }

    h3 {
        font-size: 3.0vh;
    }

    h4 {
        font-size: 2.0vh;
    }

    h5 {
        font-size: 1.5vh;
    }

    h6 {
        font-size: 1.0vh;
    }
}

/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
    h1 {
        font-size: 3.0vw;
    }

    h2 {
        font-size: 2.5vw;
    }

    h3 {
        font-size: 2.0vw;
    }

    h4 {
        font-size: 1.5vw;
    }

    h5 {
        font-size: 1.0vw;
    }

    h6 {
        font-size: 0.5vw;
    }
}

/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
    h1 {
        font-size: 3.0vw;
    }

    h2 {
        font-size: 2.5vw;
    }

    h3 {
        font-size: 2.0vw;
    }

    h4 {
        font-size: 1.5vw;
    }

    h5 {
        font-size: 1.0vw;
    }

    h6 {
        font-size: 0.5vw;
    }
}

.content {
    color: black;
}

.transparent {
    background-color: transparent;
}

.panel-left {
    margin-left: 5%;
}

.padding-button {
    padding-top: 5px;
    padding-bottom: 5px;
}

.panel-right {
    margin-right: 5%;
}

.panel-heading {
    background-color: #f6f6f6 !important;
}

.carousel-inner > .item {
    position: relative;
}

#main-search {
    padding-bottom: 10px;
}

.carousel-indicators {
    position: relative;
    left: 0px;
    padding-top: 15%;
}

.carousel-indicators li {
    background-color: #337ab7;
    border: #337ab7;
    text-align: center;
}

.carousel-indicators .active {
    background-color: darkgreen;
    border: #337ab7;
    text-align: center;
}

.buy-btn {
    color: white;
}

.show-btn {
    color: #337ab7;
}

.wishlist-success {
    color: forestgreen;
}

.wishlist-error {
    color: red;
}

.center-block {
    float: none !important
}

/*.shopawesome-h1{*/
/*color: white;*/
/*}*/

/*.shopawesome-h3 {*/
/*color: white;*/
/*}*/

/*.shopawesome-h4 {*/
/*color: white;*/
/*}*/

.profile-button {
    background-color: palegoldenrod;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.glyph-padding {
    margin-left: 5px;
    margin-right: 7px;
}

.total-text {
    text-align: right;
}

thead {
    background-color: #afd1e9;
}

.pl-ziro {
    padding-left: 0px;
}