
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left pull-left space-right">
            <li><a href="page-list.view.client.html"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
        </ul>
        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="#">
                New Page
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right pull-right">
            <li><a href="page-list.view.client.html"><span class="glyphicon glyphicon-ok"></span></a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Page name">
        </div>
        <div class="form-group">
            <label for="title">Title</label>
            <textarea class="form-control" id="title" rows="3" placeholder="Page title"></textarea>
        </div>
    </form>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right pull-right">
            <li>
                <a href="../user/profile.view.client.html"><span class="glyphicon glyphicon-user navbar-custom"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>
