
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left pull-left space-right">
            <li><a href="#/user/{{model.userId}}/website/{{model.websiteId}}"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
        </ul>
        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="#">
                Pages
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right pull-right">
            <li><a href="page-new.view.client.html"><span class="glyphicon glyphicon-plus"></span></a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group" ng-repeat="page in model.pages">
        <li class="list-group-item borderless"><a href="../widget/widget-list.view.client.html">{{page.name}}</a><a href="#/user/{{model.userId}}/website/{{website._id}}/{{page._id}}"><i
                class="glyphicon glyphicon-cog pull-right"></i></a></li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right pull-right">
            <li>
                <a href="#/user/{{model.userId}}"><span class="glyphicon glyphicon-user"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>
