
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text pull-left space-right">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page"><span class="glyphicon glyphicon-chevron-left"></span></a>
        </p>
        <div class="navbar-header pull-left">
            <a class="navbar-brand">
                New Page
            </a>
        </div>
        <p class="navbar-text pull-right">
            <a href ng-click="model.createPage(model.websiteId, model.name, model.title, model.userId)"><span class="glyphicon glyphicon-ok"></span></a>
        </p>
    </div>
</nav>

<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="model.name" type="text" class="form-control" id="name" placeholder="Page name">
        </div>
        <div class="form-group">
            <label for="title">Title</label>
            <textarea ng-model="model.title" class="form-control" id="title" rows="3" placeholder="Page title"></textarea>
        </div>
    </form>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right pull-right">
            <li>
                <a href="#/user/{{model.userId}}"><span class="glyphicon glyphicon-user navbar-custom"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>
