<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text space-right pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"><span class="glyphicon glyphicon-chevron-left"></span></a>
        </p>
        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="#">
                Widget Edit
            </a>
        </div>
        <p class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"><span class="glyphicon glyphicon-ok"></span></a>
        </p>
    </div>
</nav>

<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="model.widget.text" type="text" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input ng-model="model.widget.text" type="text" class="form-control" id="text" placeholder="Heading text">
        </div>
        <div class="form-group">
            <label for="size">Size</label>
            <input ng-model="model.widget.size" type="text" class="form-control" id="size" placeholder="3">
        </div>
    </form>
    <a class="btn btn-danger btn-block"
       href="widget-list.view.client.html">Delete</a>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}"><span class="glyphicon glyphicon-user navbar-custom"></span>
            </a>
        </p>
    </div>
</nav>
