<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text pull-left space-right">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page"><span
                    class="glyphicon glyphicon-chevron-left"></span></a>
        </p>
        <div class="navbar-header pull-left">
            <a class="navbar-brand">
                Widgets
            </a>
        </div>
        <p class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"><span
                    class="glyphicon glyphicon-plus"></span></a>
        </p>
    </div>
</nav>

<div class="container-fluid">

    <div class="sortable">
        <div ng-switch="widget.widgetType" ng-repeat="widget in model.widgets">
            <div class="format-widget">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </div>
            <div ng-switch="widget.size" ng-switch-when="HEADER">
                <h1 ng-switch-when="1">{{widget.text}}</h1>
                <h2 ng-switch-when="2">{{widget.text}}</h2>
                <h3 ng-switch-when="3">{{widget.text}}</h3>
                <h4 ng-switch-when="4">{{widget.text}}</h4>
                <h5 ng-switch-when="5">{{widget.text}}</h5>
                <h6 ng-switch-when="6">{{widget.text}}</h6>
            </div>
            <div ng-switch-when="IMAGE">
                <img ng-src="{{widget.url}}">
            </div>
            <div ng-switch-when="YOUTUBE" class="youtube-widget">
                <iframe ng-src="{{model.checkSafeYoutubeUrl(widget.url)}}"></iframe>
            </div>
            <div ng-switch-when="HTML" ng-bind-html="model.checkSafeHtml(widget.text)">
            </div>
            <div ng-switch-when="INPUT">
                <div ng-if="widget.formatted" text-angular ta-toolbar="..."></div>
                <input ng-if="!widget.formatted && (!widget.rows || widget.rows===1)"
                       placeholder="{{widget.placeholder}}" class="form-control"/>
                <textarea ng-if="!widget.formatted && (widget.rows > 1)"
                          rows="{{widget.rows}}" placeholder="{{widget.placeholder}}"
                          class="form-control">{{widget.text}}</textarea>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}"><span class="glyphicon glyphicon-user navbar-custom"></span>
            </a>
        </p>
    </div>
</nav>
