<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text space-right pull-left">
            <a href="widget-list.view.client.html"><span class="glyphicon glyphicon-chevron-left"></span></a>
        </p>
        <div class="navbar-header pull-left">
            <a class="navbar-brand">
                Widget Edit
            </a>
        </div>
        <p class="navbar-text pull-right">
            <a href="widget-list.view.client.html"><span class="glyphicon glyphicon-ok"></span></a>
        </p>
    </div>
</nav>

<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Image name">
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input type="text" class="form-control" id="text" placeholder="Image description">
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input type="text" class="form-control" id="url"
                   placeholder="https://www.image.com/LocationPhotos-g60745-Boston_Massachusetts.html#22588325">
        </div>
        <div class="form-group">
            <label for="width">Width</label>
            <input type="text" class="form-control" id="width" placeholder="100%">
        </div>
        <div class="form-group">
            <label for="upload">Upload</label>
            <div class="row">
                <div class="col-lg-12">
                    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" id="upload">Choose File</button>
      </span>
                        <input type="text" class="form-control">
                    </div><!-- /input-group -->
                </div>
            </div>
        </div>
    </form>
    <a class="btn btn-primary btn-block"
       href="#">Upload Image</a>
    <a class="btn btn-danger btn-block"
       href="widget-list.view.client.html">Delete</a>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="../user/profile.view.client.html"><span class="glyphicon glyphicon-user navbar-custom"></span>
            </a>
        </p>
    </div>
</nav>
