<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a ng-click="model.deleteOrderByOrderId()"><span
                    class="glyphicon glyphicon-chevron-left navbar-custom"></span>
            </a>
        </p>
        <div class="navbar-header pull-left">
            <a class="navbar-brand">
                Welcome to ShopAwesome
            </a>
        </div>
        <p class="navbar-text pull-right glyph-padding">
            <a ng-click="model.gotoProfile()"><span class="glyphicon glyphicon-user navbar-custom"></span>
            </a>
        </p>
        <p ng-if="!model.order.submitted" class="navbar-text pull-right glyph-padding">
            <a ng-click="model.deleteOrderByOrderId()"><span
                    class="glyphicon glyphicon-shopping-cart navbar-custom"></span>
            </a>
        </p>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div id="loginerror" ng-show="model.error" class="alert alert-danger" role="alert">
            <!--{{model.error}}-->
        </div>
        <div ng-show="model.success" class="alert alert-success" role="alert">
            {{model.successMsg}}
        </div>
    </div>
    <h3 class="shopawesome-h3">Your Order</h3>
    <div class="well row">
        <h4>Order Items</h4>
        <div ng-repeat="item in model.orderItems.items" ng-init="parentItemIndex = $index">
            <div class="row hidden-lg hidden-md">
                <div class="col-xs-4">
                    <img ng-src="{{item.thumbnailImage}}" class="img-responsive">
                </div>
                <div class="col-xs-8">
                    <h4>{{item.name}}</h4>
                    <h5><span>Sale Price : </span>{{item.salePrice}}</h5>
                    <h5 ng-if="item.sellerInfo"><span>Seller Info : </span>{{item.sellerInfo}}</h5>
                    <h5 ng-if="item.customerRating"><span>Customer Rating: </span>{{item.customerRating}}</h5>
                </div>
            </div>

            <div class="row hidden-sm hidden-xs">
                <div class="col-xs-2">
                    <img ng-src="{{item.thumbnailImage}}" class="img-responsive">
                </div>
                <div class="col-xs-4">
                    <h4>{{item.name}}</h4>
                    <h5><span>Sale Price : </span>{{item.salePrice}}</h5>
                    <h5 ng-if="item.sellerInfo"><span>Seller Info : </span>{{item.sellerInfo}}</h5>
                    <h5 ng-if="item.customerRating"><span>Customer Rating: </span>{{item.customerRating}}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 well">
            <h4>Shipping Address</h4>
            <div class="form-group" id="fmgrp-staddress">
                <label for="staddress">Street</label>
                <input ng-model="model.order.shippingStreet" type="text" class="form-control" id="staddress" required>
            </div>
            <div class="form-group" id="fmgrp-city">
                <label for="city">City</label>
                <input ng-model="model.order.shippingCity" type="text" class="form-control" id="city" required>
            </div>
            <div class="form-group" id="fmgrp-state">
                <label for="state">State</label>
                <!--<input ng-model="model.order.shippingState" type="text" class="form-control" id="state" required>-->
                <select name="state" id="state" ng-model="model.order.shippingState" class="form-control">
                    <option ng-repeat="option in model.usstates" value="{{option}}">{{option}}</option>
                </select>
            </div>
            <div class="form-group" id="fmgrp-zipcode">
                <label for="zipcode">Zipcode</label>
                <input ng-model="model.order.shippingZipcode" type="text" class="form-control" id="zipcode" required>
            </div>
        </div>
        <div class="col-md-6 well">
            <h4>Credit Card Info</h4>
            <form novalidate role="form">
                <div class="form-group" id="cardNum">
                    <label for="cardNumber">Card Number</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="cardNumber"
                               ng-model="model.creditcard.cardnum"
                               placeholder="XXXX-XXXX-XXXX-XXXX" maxlength="16" required/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    </div>
                </div>
                <div class="form-group" id="cardUsrName">
                    <label for="cardUsername">Card Holder's Name</label>
                    <input type="text" class="form-control" id="cardUsername"
                           ng-model="model.creditcard.cardholdername" placeholder="" required/>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-6 col-lg-6" id="expiryMM">
                                    <label for="expiryMonth">Expiry Month</label>
                                    <select name="state" id="expiryMonth" ng-model="model.creditcard.expirymonth"
                                            class="form-control">
                                        <option ng-repeat="option in model.months" value="{{option}}">{{option}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-xs-6 col-lg-6" id="expiryYY">
                                    <label for="expiryYear">Expiry Year</label>
                                    <select name="state" id="expiryYear" ng-model="model.creditcard.expiryyear"
                                            class="form-control">
                                        <option ng-repeat="option in model.years" value="{{option}}">{{option}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <div class="form-group" id="cvv">
                            <label for="cvvCode">CVV2 CODE</label>
                            <input type="password" class="form-control" id="cvvCode" ng-model="model.creditcard.cvv"
                                   placeholder="CVV2"
                                   required/>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="well row">
        <div class="form-group">
            <label for="total">Total Amount</label>
            <input id="total" ng-model="model.order.total" type="text" class="form-control" readonly="readonly">
        </div>
    </div>
    <span class="pull-right buttons row">
        <button ng-if="!model.order.submitted" ng-click="model.submitOrder()" class="btn btn-md btn-primary"> Submit Order</button>
        <button ng-if="model.order.submitted" class="btn btn-md btn-disabled"> Order Submitted</button>
    </span>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">

    </div>
</nav>