<div class="container-fluid">
    <div class="row">
        <div id="loginerror" ng-show="model.error" class="alert alert-danger" role="alert">

        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1 class="shopawesome-logincolor">Welcome to ShopAwesome</h1>
            <i class="shopawesome-logincolor">Shop for Toys, Electronics, Furniture, Video Games, Baby, Clothing and
                more.</i>
            <i class="shopawesome-logincolor"> Get great deals!!! Save money</i>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <h2 class="shopawesome-logincolor"> Login </h2>
            <form novalidate data-toggle="validator" role="form">
                <div class="form-group" id="username">
                    <input type="text"
                           ng-model="model.username"
                           class="form-control"
                           placeholder="username" required/>
                </div>
                <div class="form-group" id="password">
                    <input type="password"
                           ng-model="model.password"
                           class="form-control"
                           placeholder="password" required/>
                </div>

                <div class="form-group ">
                    <a type="submit" ng-click="model.login(model.username, model.password)"
                       class="btn btn-primary btn-md center-block"
                    >Sign In</a>
                </div>
            </form>

            <div class="form-group ">
                <a class="btn btn-success btn-md center-block"
                   href="#/register">Register</a>
            </div>
            <div class="form-group ">
                <a href="/shopper/auth/google" class="btn btn-danger btn-md center-block">
                    <span class="fa fa-google-plus"></span>
                    Google
                </a>
            </div>
            <div class="form-group">
                <a href="/shopper/auth/facebook" class="btn btn-primary btn-md center-block">
                    <span class="fa fa-facebook"></span>
                    Facebook
                </a>
            </div>
        </div>
        <div class="col-xs-1"></div>
    </div>
</div>
