<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <a class="navbar-brand">
                My Account
            </a>
        </div>
        <p class="navbar-text pull-right glyph-padding">
            <a href="#/shopper/{{model.user._id}}/shoppingcart"><span
                    class="glyphicon glyphicon-shopping-cart navbar-custom"></span>
            </a>
        </p>
        <p class="navbar-text pull-right glyph-padding">
            <a href ng-click="model.updateProfile(model.user)"><span class="glyphicon glyphicon-ok"></span></a>
        </p>

    </div>
</nav>


<div class="container">
    <div class="row">
        <div ng-show="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>
    </div>
    <form>
        <div class="row well hidden-lg hidden-md">
            <a class="btn btn-primary center-block"
               href="#/shopper/{{model.user._id}}/search">Search</a>
            <a href="#/shopper/{{model.user._id}}/wishlist" id="wishlistsm"
               class="btn btn-default center-block profile-button">
                My Wishlist
            </a>
            <a href="#/shopper/{{model.user._id}}/myorders" id="orderssm"
               class="btn btn-default center-block profile-button">
                My Orders
            </a>
        </div>
        <div class="row">
            <div class="col-md-4 well">
                <h3>Personal Information</h3><br>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input ng-model="model.user.username" type="text" class="form-control" id="username"
                           placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input ng-model="model.user.email" type="email" class="form-control" id="email"
                           placeholder="alicewonderland@example.com">
                </div>
                <div class="form-group">
                    <label for="first-name">First Name</label>
                    <input ng-model="model.user.firstName" type="text" class="form-control" id="first-name"
                           placeholder="Alice">
                </div>
                <div class="form-group">
                    <label for="last-name">Last Name</label>
                    <input ng-model="model.user.lastName" type="text" class="form-control" id="last-name"
                           placeholder="Wonderland">
                </div>
            </div>


            <div class="col-md-4 well">
                <form>
                    <h3>Address</h3><br>
                    <div class="form-group">
                        <label for="staddress">Street</label>
                        <input ng-model="model.user.street" type="text" class="form-control" id="staddress"
                               placeholder="360 Huntington Avenue">
                    </div>
                    <div class="form-group">
                        <label for="city">City</label>
                        <input ng-model="model.user.city" type="text" class="form-control" id="city"
                               placeholder="Boston">
                    </div>
                    <div class="form-group">
                        <label for="state">State</label>
                        <!--<input ng-model="model.user.state" type="text" class="form-control" id="state1"-->
                        <!--placeholder="MA">-->
                        <select name="state" id="state" ng-model="model.user.state" class="form-control">
                            <option ng-repeat="option in model.usstates" value="{{option}}">{{option}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="zipcode">Zipcode</label>
                        <input ng-model="model.user.zipcode" type="text" class="form-control" id="zipcode"
                               placeholder="02115">
                    </div>
                    <div class="form-group">
                        <label for="phonenum">Phone</label>
                        <input ng-model="model.user.phone" type="text" class="form-control" id="phonenum"
                               placeholder="617-373-2000">
                    </div>
                </form>
            </div>

            <div class="hidden-sm hidden-xs">
                <div class="col-md-4 well">
                    <a class="btn btn-primary center-block"
                       href="#/shopper/{{model.user._id}}/search">Search</a>
                    <a href="#/shopper/{{model.user._id}}/wishlist" id="wishlist"
                       class="btn btn-default center-block profile-button">
                        My Wishlist
                    </a>
                    <a href="#/shopper/{{model.user._id}}/myorders" id="orders"
                       class="btn btn-default center-block profile-button">
                        My Orders
                    </a>
                </div>
            </div>
        </div>
    </form>


    <a class="btn btn-primary"
       ng-click="model.updateProfile(model.user)">Update</a>
    <a class="btn btn-warning"
       ng-click="model.logout()">Logout</a>
    <a class="btn btn-danger"
       ng-click="model.unRegisterUser(model.user)">Delete</a>
    <a class="btn btn-info"
       ng-show="model.user.roles == 'ADMIN'"
       href="#/admin/{{model.user._id}}">Admin</a>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
    </div>
</nav>
