<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <a class="navbar-brand">
                Welcome to ShopAwesome
            </a>
        </div>
        <p class="navbar-text pull-right glyph-padding">
            <a href="#/shopper/{{model.userId}}"><span class="glyphicon glyphicon-user navbar-custom"></span>
            </a>
        </p>
        <p class="navbar-text pull-right glyph-padding">
            <a href="#/shopper/{{model.userId}}/search"><span class="glyphicon glyphicon-search navbar-custom"></span>
            </a>
        </p>
        <p class="navbar-text pull-right glyph-padding">
            <a href="#/shopper/{{model.userId}}/shoppingcart"><span
                    class="glyphicon glyphicon-shopping-cart navbar-custom"></span>
            </a>
        </p>

    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div ng-show="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>
    </div>
    <h3 class="shopawesome-h3">Your ShopAwesome Wishlist</h3>
    <div ng-repeat="item in model.wishlistItems" ng-init="parentItemIndex = $index">
        <div class="row well hidden-xs hidden-sm">
            <div class="col-xs-2">
                <div id="{{ 'item-' + parentItemIndex }}" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item" ng-class="{active:!$index}" ng-repeat="thumbnail in item.imageEntities">
                            <img ng-src="{{thumbnail.mediumImage}}" class="img-responsive"/>
                        </div>
                    </div>
                    <!-- Indicators -->
                    <ol class="carousel-indicators center-block">
                        <li data-target="{{ '#item-' + parentItemIndex }}" data-slide-to="{{imgIndex}}"
                            ng-class="{active:!imgIndex}" ng-repeat="thumbnail in item.imageEntities"
                            ng-init="imgIndex = $index"></li>
                    </ol>
                </div>
            </div>
            <div class="col-xs-8">
                <h4>{{item.name}}</h4>
                <h5 ng-if="item.msrp"><span>MSRP :</span>{{item.msrp}}</h5>
                <h5><span>Sale Price :</span>{{item.salePrice}}</h5>
                <p>{{item.shortDescription}}</p>
            </div>
            <div class="row pull-right">
                <span class="pull-right buttons">
                    <button ng-click="model.removeItemWishlist(item.itemId)" class="btn btn-sm btn-default">
                        <span id="wishlist" class="show-btn glyphicon glyphicon-trash"></span> Remove</button>
                    <button ng-click="model.addItemShoppingCart(item)" class="btn btn-sm btn-primary"><span
                            class="buy-btn glyphicon glyphicon-shopping-cart"></span> Buy</button>
                </span>
            </div>
        </div>
        <div class="row well hidden-md hidden-lg">
            <div class="row">
                <div class="col-xs-8">
                    <h4>{{item.name}}</h4>
                    <h5 ng-if="item.msrp"><span>MSRP :</span>{{item.msrp}}</h5>
                    <h5><span>Sale Price :</span>{{item.salePrice}}</h5>
                    <p>{{item.shortDescription}}</p>
                </div>
                <div class="col-xs-4 pull-right">
                    <button ng-click="model.removeItemWishlist(item.itemId)" class="btn btn-sm btn-default">
                        <span id="wishlistsm" class="show-btn glyphicon glyphicon-trash"></span> Remove
                    </button>
                    <button ng-click="model.addItemShoppingCart(item)" class="btn btn-sm btn-primary"><span
                            class="buy-btn glyphicon glyphicon-shopping-cart"></span> Buy
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div id="{{ 'itemsm-' + parentItemIndex }}" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item" ng-class="{active:!$index}" ng-repeat="thumbnail in item.imageEntities">
                                <img ng-src="{{thumbnail.mediumImage}}" class="img-responsive"/>
                            </div>
                        </div>
                        <!-- Indicators -->
                        <ol class="carousel-indicators center-block">
                            <li data-target="{{ '#itemsm-' + parentItemIndex }}" data-slide-to="{{imgIndex}}"
                                ng-class="{active:!imgIndex}" ng-repeat="thumbnail in item.imageEntities"
                                ng-init="imgIndex = $index"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">

    </div>
</nav>